/* .header{
  transition: 5s ease-in-out;
} */
nav {
  background: #C50000;
  background: rgb(183,143,27);
  background: radial-gradient(circle, rgba(183,143,27,1) 0%, rgba(166,161,40,1) 35%, rgba(145,34,22,1) 100%);
  opacity: 0.9;
  padding: 10px;
  text-align: center;
  border: 5px inset #91991c;
  border-radius: 40px 0px 40px 0px;
}
nav:hover{
  border: 6px inset #91991c;
}
button {
  position: relative;
  border-radius: 10px;
  margin: 10px;
  background-color: black;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-family: verdana;
  font-size: 18px;
  background-color: #C50000;
}
button:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 0px 18px 18px #520105;
}
button:hover {
  background-color: #fffb0091;
}
.rightSideButtons{
  background-color: #000000;
}
.rightSideButtons:active { 
  box-shadow: 8px 8px 0px 0px #333138;
}
.rightSideButtons:hover {
  background-color: #57564291;
}
h1{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 40px;
  color:  rgb(73, 3, 3);
  /* text-decoration: underline solid rgb(73, 3, 3); */
  margin: auto;
  text-align: center;
}
h3 {
  font-size: 25px;
  font-weight: bold;
  color:  rgb(34, 4, 4);
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  /* padding-bottom: 30px; */
}
h4{
  color:  rgb(73, 3, 3);
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
h5{
  color: yellow;
}
pre{
  font-weight: bold;
  line-height: 25px;
  color: #11100de5;
  font-size: large;
}
.par{
  font-weight: bold;
  text-align: center;
  color: #11100de5;
  font-size: 22px;
  margin: auto;
  width: 50%;
  padding: 10px;
  line-height: 2.2;
}
.description{
  font-weight: bold;
  font-size: large;
  width: 50%;
}
::placeholder{
  opacity: 0.7;
  color:rgb(41, 29, 29) ;
  font-weight: bold;
}
textarea{
  align-content: center;
  width: 50em;
  height: 10em;
}
input, textarea{
  border: 2px solid #C50000;
  border-radius: 20px;
  /* background-color: cornflowerblue; */
  background: linear-gradient(#C50000, #A46206, #D7C819);
  color: #520105;
}
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
footer {
  position: absolute;
  bottom: 1px;
  right: 45%;
  font-size: large;
  color: yellow;
}
.material-icons{
  color: rgb(56, 240, 0);
} 
/* stars */
.fa-star {
  color: rgb(171, 175, 136);
}
.checked {
  color: yellow;
}
.solid{
  border-top: 1px solid rgb(187, 187, 187);
  border-radius: 5px;
}
/* 2 recipe ----------------------------------------------------------------*/
#background_div {
  
  position: absolute;
  overflow: auto;
  background: #CEC82B;
  opacity: 0.9;
  background: rgb(183,143,27);
  background: radial-gradient(circle, rgba(183,143,27,1) 0%, rgba(166,161,40,1) 35%, rgba(145,34,22,1) 100%);
  border: 5px inset #91991c;
  border-radius: 40px 0px 40px 0px;
  /* background: -moz-radial-gradient(center, #CEC82B 0%, #A46206 59%, #C50000 100%);
  background: -webkit-radial-gradient(center, #CEC82B 0%, #A46206 59%, #C50000 100%);
  background: radial-gradient(ellipse at center, #CEC82B 0%, #A46206 59%, #C50000 100%); */
  border-radius: 10px;
  padding: 15px;
  width: 82%;
  height: 80%;
  right: 150px;
  top: 120px; 
  transition: 1s;
}
#background_div:hover{
  width: 83%;
}
#main {
  display: inline-block;
}
/* ----------------------------------------------------------------*/
.rightSideButtons {
  width: 125px;
}
.butcherName{
  color: aqua;
}
.butcherRestaurantRecipe{
  color: rgb(0, 36, 0);
}
.small_images {
  position: absolute;
  border-radius: 50px;
  left: 170px;
  top: 170px;
}

/* background */
.center-fit {
  display: grid;
  height: 100%;
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}